<div class="stock-wrapper">
    <h2 style="color:#006666"><b>Dina bevakade aktier</b></h2>
    <div class="container">
        <table class="table">
            <tbody>
                <tr class="table-heading">
                    <th>Aktie</th>
                    <th>Öppning USD</th>
                    <th>Stängning USD</th>
                    <th>Daglig förändring</th>
                </tr>
                <tr *ngFor="let stock of dailyChange">
                    <td class="lista"><a routerLink="/stock" [queryParams]="{name: stock.key}">{{stock.key}}</a></td>
                    <td class="lista">{{stock.open}}</td>
                    <td class="lista">{{stock.close}}</td>
                    <td class="lista" style="text-align: right">{{stock.change}} %</td>
                </tr>
            </tbody>
        </table>
    
        <a mat-button class="button" routerLink="choose-stocks">
            <button mat-stroked-button color="basic">Visa alla</button>
        </a>
    
    </div>
</div>
