<mat-toolbar class="navbar mat-elevation-z4" color="primary">
    <div class="title">Aktiekollen</div>
    <div class="nav-tools">
        <a mat-button routerLink="">
            <mat-icon>home</mat-icon>
        </a>
        <a mat-button routerLink="stock">
            <mat-icon>paid</mat-icon>
        </a>
        <a mat-button routerLink="choose-stocks">
           <mat-icon>star_rate</mat-icon>
        </a>
        <a mat-button>
            <mat-icon>settings</mat-icon>
        </a>
        
    </div>
</mat-toolbar>